In [7]:
import pandas as pd
import json

In [8]:
df = pd.read_json('data/data_강원도.json')
df.head()

      location      title
0  강원도 춘천시 봉의동     협동조합빅샌
1  강원도 춘천시 봉의동      에티오피아
2  강원도 춘천시 봉의동  중국문화카페다이빈
3  강원도 춘천시 요선동       멍텅구리
4  강원도 춘천시 요선동      카페보이드

In [9]:
data_num = df.shape[0]
chunk_size = 1000
chunk_num = data_num // chunk_size

for i in range(chunk_num):
    chunk_df = df[i * chunk_size: (i + 1) * chunk_size]
    chunk_df.to_json(f'./data/gangwon/{i}.json', orient='records', force_ascii=False, indent=2)

last_chunk = df[chunk_num * chunk_size:]
last_chunk.to_json(f'./data/gangwon/{chunk_num}.json', orient='records', force_ascii=False, indent=2)

In [ ]:
chunk_df = df[chunk_num * 1000: (chunk_num + 1) * 1000]

In [ ]:
[row['location'] in detail_location for _, row in df.iterrows()]

In [34]:
filtered_df = df[l]
filtered_df.to_json('data.json', orient='records', force_ascii=False, indent=2)

In [41]:
province = list(set([loc.split()[0] for loc in unique_location]))

In [42]:
province

['충청북도',
 '인천광역시',
 '대전광역시',
 '광주광역시',
 '대구광역시',
 '울산광역시',
 '전라북도',
 '경기도',
 '세종특별자치시',
 '강원도',
 '서울특별시',
 '제주특별자치도',
 '전라남도',
 '충청남도',
 '경상남도',
 '부산광역시',
 '경상북도']

In [45]:
rows = filtered_df.shape[0]
print("rows:", rows)

for loc in province:
    filtered_row = [loc in row['location']  for _, row in filtered_df.iterrows()]
    snippet = filtered_df[filtered_row]
    # snippet.to_json(f'data/data_{loc}.json', orient='records', force_ascii=False, indent=2)
    rows -= snippet.shape[0]
    print("rows:", rows)

print("rows:", rows)

rows: 282027
rows: 275524
rows: 261233
rows: 248711
rows: 238212
rows: 214884
rows: 207501
rows: 201748
rows: 149959
rows: 147086
rows: 133803
rows: 63816
rows: 58541
rows: 52514
rows: 45260
rows: 33359
rows: 13149
rows: 0
rows: 0